#latest-news-index {
    color: #A61D00
}

#navbar-logo {
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* Active button  */
.navbar-default .navbar-nav > .active > a {
    /* Inner text colour. */
    color: rgb(245, 245, 245); 
    /* Button background colour. */
    background: rgb(40, 158, 212);
}

/* .navbar-default .navbar-nav > .active > a:hover { */
    /* Inner text colour. */
    /* color: rgb(245, 245, 245);  */
    /* Button background colour. */
    /* background: rgb(40, 158, 212); */
/* } */

/* On click/touch */
/* .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(238, 238, 238);
    background: rgb(51, 190, 102)
} */