{% extends "mainapp/base.html" %}

<head>
    {% block title %}<title>Articles | Open News</title>{% endblock %}
</head>

{% block content %}
    <h1>Articles</h1>

    {% if article_list %}
    <ul>
        {% for article in article_list %}
            <li>
                <a href="{{ article.get_absolute_url }}">{{ article.headline }}</a> 
                Likes: {{article.like}} | Dislikes: {{article.dislike}}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Sorry, no articles have been published yet! Please check again soon.</p>
    {% endif %}
{% endblock %}